<h1>Add New Band</h1>

<form action="<%= bands_url %>" method="POST">
  <%= auth_token %>
  <label for="band[name]">Name </label>
  <input type="text" name="band[name]">

  <input type="submit">
</form>
