<%= auth_token %>
<table>
  <tr>
    <td><label for="email">Email</label></td>
    <td><input type="email" name="user[email]" placeholder="example@email.com"></td>
  </tr>
  <tr>
    <td><label for="password">Password</label></td>
    <td><input type="password" name="user[password]"></td>
  </tr>
</table>
